@import "media-query";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");
  font-family: "Fira Code", monospace;
}

body {
  line-height: 1.5;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  @include responsive(desktop) {
    max-width: 1200px;
  }
  @include responsive(laptop) {
    max-width: 900px;
  }
  @include responsive(tablet) {
    max-width: 750px;
  }

  .components {
    display: flex;

    @include responsive(tablet) {
      align-items: center;
      flex-direction: column;
    }
  }
}
